<h1>Listing job_types</h1>

<table>
  <thead>
    <tr>
      <th>Job type name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_types.each do |job_type| %>
      <tr>
        <td><%= job_type.job_type_name %></td>
        <td><%= link_to 'Show', job_type %></td>
        <td><%= link_to 'Edit', edit_job_type_path(job_type) %></td>
        <td><%= link_to 'Destroy', job_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job type', new_job_type_path %>
