<h1>Listing customer_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Customer status name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_statuses.each do |customer_status| %>
      <tr>
        <td><%= customer_status.customer_status_name %></td>
        <td><%= link_to 'Show', customer_status %></td>
        <td><%= link_to 'Edit', edit_customer_status_path(customer_status) %></td>
        <td><%= link_to 'Destroy', customer_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer status', new_customer_status_path %>
