<% if @job_source.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@job_source.errors.count, "error") %>.
      </div>
      <ul>
        <% @job_source.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @job_source, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :job_source_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_source_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_source_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :job_source_notes, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                job_sources_path, :class => 'btn' %>
  </div>
<% end %>
