<% if @job.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@job.errors.count, "error") %>.
      </div>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>


    <div class="control-group">
      <%= f.label :job_status, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :job_status_id ,JobStatus.all, :id, :job_status_name %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :customer_id, Customer.all.order(:customer_first_name), :id, :full_name, {:include_blank => 'Select a customer'}, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sales_agent_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :sales_agent_id, SalesAgent.order('sales_agent_first_name').all, :id, :name_with_initial,{include_blank:true}, :class => 'collection-select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_source_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :job_source_id, JobSource.all, :id, :job_source_name, {include_blank:true}, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :job_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :job_type_id, JobType.all, :id, :job_type_name, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :internal_job_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :internal_job_id, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" id="checkbox_address" checked>Use Customer's Address
    </div>
    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :customer_home_address, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :zip, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :customer_home_zip, :class => 'text_field zip-lookup-field-zipcode' %>
      </div>
    </div>
    </div>
    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :customer_home_city, :class => 'text_field zip-lookup-field-city' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :state, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :customer_home_state, :class => 'text_field zip-lookup-field-state' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :job_price, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :notes, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :job_notes, :class => 'text_field' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>

<script>

    $("#checkbox_address").on("change customer", function checkbox(){
        if (this.checked) {
            //set boxes readonly
            $("#job_customer_home_address").attr("readonly", "")
            $("#job_customer_home_zip").attr("readonly", "")
            $("#job_customer_home_city").attr("readonly", "")
            $("#job_customer_home_state").attr("readonly", "")

            //get customer address info
            var url = "<%= customers_path%>" + "/" + $("#job_customer_id").val()
            $.ajax({
                dataType: "json",
                url: url,
                success: function(data){

                    $("#job_customer_home_address").val(data["customer_home_address"])
                    $("#job_customer_home_zip").val(data["customer_home_zip"])
                    $("#job_customer_home_city").val(data["customer_home_city"])
                    $("#job_customer_home_state").val(data["customer_home_state"])
                }
            })

        } else {
            $("#job_customer_home_address").attr("readonly", false)
            $("#job_customer_home_zip").attr("readonly", false)
            $("#job_customer_home_city").attr("readonly", false)
            $("#job_customer_home_state").attr("readonly", false)
        }
    })

    $("#job_customer_id").on("change", function(){$("#checkbox_address").trigger("customer");});
    $("#checkbox_address").trigger("customer");


</script>