<%= form_tag jobs_search_path, :remote => true, :method => 'get', :class => 'form-inline' do %>
          <%= text_field_tag :search, params[:search], :id => 'search_field', :class => 'search-query' %>
          <%= collection_select :criteria, params[:to_s], Job.column_names, :to_s, :titleize, :class => 'text-field' %>
          <%= submit_tag "Find", :name => nil, :class => 'btn btn-info' %>
      <% end %>

<table id="results" class="table">
  <thead><th>Results:</th></thead>
  <% @jobs.each do |job| %>
      <tr></tr><td><%= link_to job.search_result , :action => 'show', :id => job.id  %></td></tr>
  <% end %>
</table>

<script>
    function search(){
        var url = $("#search > form").attr("action") + "?" + $("#search > form").serialize();
        var results_table = " #results"
        if ($("#search_field").val().length > 0) {
            $("#results").load(url + results_table)
        }
    }
    $("#search > form").submit(function(){search()})

    $("#search_field").on("keyup",function(){search()} )

    $("#criteria_").on("change", function(){search()})




</script>