<%- model_class = JobStatusHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:job_id) %></th>
      <th><%= model_class.human_attribute_name(:job_status_id) %></th>
      <th><%= model_class.human_attribute_name(:job_status_history_date) %></th>
      <th><%= model_class.human_attribute_name(:job_status_history_notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @job_status_histories.each do |job_status_history| %>
      <tr>
        <td><%= link_to job_status_history.id, job_status_history_path(job_status_history) %></td>
        <td><%= job_status_history.job_id %></td>
        <td><%= job_status_history.job_status_id %></td>
        <td><%= job_status_history.job_status_history_date %></td>
        <td><%= job_status_history.job_status_history_notes %></td>
        <td><%=l job_status_history.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_status_history_path(job_status_history), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      job_status_history_path(job_status_history),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_status_history_path,
            :class => 'btn btn-primary' %>
