<%- model_class = JobStatusHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:job_id) %>:</strong></dt>
  <dd><%= @job_status_history.job_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_status_id) %>:</strong></dt>
  <dd><%= @job_status_history.job_status_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_status_history_date) %>:</strong></dt>
  <dd><%= @job_status_history.job_status_history_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:job_status_history_notes) %>:</strong></dt>
  <dd><%= @job_status_history.job_status_history_notes %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              job_status_histories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_status_history_path(@job_status_history), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_status_history_path(@job_status_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
