<% if @customer.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@customer.errors.count, "error") %>.
      </div>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_home_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_home_zip, :class => 'text_field zip-lookup-field-zipcode' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_home_city, :class => 'text_field zip-lookup-field-city' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :home_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_home_state, :class => 'text_field zip-lookup-field-state' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="checkbox" id="checkbox_address">Same as  Home Address
    </div>
  </div>
  <div class="control-group">
    <%= f.label :billing_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_billing_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :billing_zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_billing_zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :billing_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_billing_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :billing_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_billing_state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :primary_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_primary_email, :class => 'text_field', :type => 'email' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :secondary_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_secondary_email, :class => 'text_field', :type => 'email' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :primary_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_primary_phone, :class => 'form-control bfh-phone', 'data-format' => "(ddd) ddd-dddd" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :secondary_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_secondary_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :customer_notes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :customer_status_id, CustomerStatus.all, :id, :customer_status_name,  :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>

<script>
  $("#checkbox_address").on("change", function(){
      if (this.checked) {
          $("#customer_customer_billing_address").attr("value", $("#customer_customer_home_address").val())
          $("#customer_customer_billing_zip").attr("value", $("#customer_customer_home_zip").val())
          $("#customer_customer_billing_city").attr("value", $("#customer_customer_home_city").val())
          $("#customer_customer_billing_state").attr("value", $("#customer_customer_home_state").val())
      }
  })
</script>