<% if @customer.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@customer.errors.count, "error") %>.
      </div>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @customer, url:'create_lead', :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :customer_first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_primary_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_primary_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer_primary_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_primary_phone, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :customer_status_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :customer_status_id, CustomerStatus.all, :id, :customer_status_name,  :class => 'text_field' %>
      </div>
    </div>


  <div class="form-actions">
    <%= f.submit 'Create Lead', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
