<%= form_tag customers_search_path, :remote => true, :method => 'get', :class => 'form-inline' do %>
          <%= text_field_tag :search, params[:search], :id => 'search_field', :class => 'search-query' %>
          <%= collection_select :criteria, params[:to_s], Customer.column_names, :to_s, :titleize %>
          <%= submit_tag "Find", :name => nil, :class => 'btn btn-info' %>
      <% end %>

<table id="results" class="table table-striped">
  <thead><th>Results:</th></thead>
  <% @customers.each do |customer| %>
      <tr></tr><td><%= link_to customer.full_name, :action => 'show', :id => customer.id  %></td></tr>
  <% end %>
</table>

<script>
    $("#search > form").submit(load_results)
    $("#search_field").on("keyup", load_results )

  function load_results() {
      var url = $("#search > form").attr("action") + "?" + $("#search > form").serialize();
      var results_table = " #results"
      if ($("#search_field").val().length > 0) {
          $("#results").load(url + results_table)
      }
  }

</script>