       <table id="inactive_customers_table" class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Primary Email</th>
          <th>Primary Phone</th>
          <th>Created_at</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @inactive_customers.each do |customer| %>
            <tr>
              <td><%= link_to customer.id, customer_path(customer) %></td>
              <td><%= customer.customer_first_name %></td>
              <td><%= customer.customer_last_name %></td>
              <td><%= customer.customer_primary_email %></td>
              <td><%= number_to_phone(customer.customer_primary_phone, area_code: true) %></td>
              <td><%=l customer.created_at %></td>
              <td>
                <%= link_to t('.activate', :default => t("helpers.links.activate")),
                            customer_path(customer),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-info' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
       <p>Showing last 15 - <a href="#all" onclick=" tab2()">View All</a> </p>
       <script>
           function tab2(){$("#tab2").load("/customers/inactive")}
       </script>