<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Active</a></li>
    <li><a href="#tab2" data-toggle="tab">Inactive</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        Loading...
      <br>
    </div>
    <div class="tab-pane" id="tab2">
        Loading...
      <br>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_path,
            :class => 'btn btn-primary' %>

<script>
    $("#tab1").load("/customers/active?limit=15", function(){

        $("#tab2").load("/customers/inactive?limit=15", function(){
            //to sort any table in this application
            $("table").tablesorter({debug: true})})

    })
</script>