<%- model_class = SalesAgent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:commission) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:status_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sales_agents.each do |sales_agent| %>
      <tr>
        <td><%= link_to sales_agent.id, sales_agent_path(sales_agent) %></td>
        <td><%= sales_agent.sales_agent_first_name %></td>
        <td><%= sales_agent.sales_agent_last_name %></td>
        <td><%= number_to_phone(sales_agent.sales_agent_phone, area_code: true) %></td>
        <td><%= sales_agent.sales_agent_comission %></td>
        <td><%= sales_agent.sales_agent_email %></td>
        <td><%= if sales_agent.sales_agent_status_id; sales_agent.sales_agent_status.sales_agent_status_name end %></td>
        <td><%=l sales_agent.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sales_agent_path(sales_agent), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sales_agent_path(sales_agent),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sales_agent_path,
            :class => 'btn btn-primary' %>
