<%- model_class = SalesAgent -%>
<div class="page-header">
  <h1><%=t '.title', :default => [ 'Find %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div id="search">
  <%= render :partial => 'sales_agents/search' %>
</div>